header.header
    .container.header__content 
        .header__logo HeyU
        nav.header__menu 
            ul.nav__menu 
                li.nav--menu__item
                    a(href="#").nav--menu__link  ABOUT
                li.nav--menu__item
                    a(href="#").nav--menu__link  FAQ
                li.nav--menu__item
                    a(href="#").nav--menu__link  SUPPORT
                li.nav--menu__item
                    a(href="#").nav--menu__link  BLOG
script(src="../js/header.js") 