main.main 
    .main--bg__img 
        img(src="../img/main_bg.png" alt="")
    .container.main__content 
        .main--left__content 
            h1 Simple, safe &  beautiful.
            p With 
                span HeyU 
            p , you'll get fast, simplesecure messaging!
            .main--content__btn 
                a(href="#") Download now
        .main--right__content
            .right--content__img 
                img(src="../img/iPhone7Silver.png" alt="")         