section.section
    .container
        .section__content
            .image-content 
                .back-image
                    img(src="../img/Contacts copy.png" alt="")
                .front-image 
                    img(src="../img/Conversation.png" alt="")
            .text-content
                h1 Easy Messaging 
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe aliquid ex aut libero distinctio ad provident ut laboriosam architecto dolores, fugiat quae consectetur, facilis blanditiis molestiae, praesentium asperiores corrupti similique.
        .section__content
            .text-content 
                h1 Keep in touch 
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis, quos accusantium totam asperiores amet, optio quisquam est, laboriosam tempore explicabo inventore ratione ipsam officia voluptatum. Consectetur velit obcaecati veritatis quidem?
            .image-content
                .front-image 
                    img(src="../img/Messages.png" alt="")
                .back-image
                    img(src="../img/Groups.png" alt="")
        .section__content 
            .text-content 
                h1 What people say
            .card-content
                .card 
                    .card-msg
                        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis quaerat necessitatibus optio, temporibus architecto quam odio beatae hic? Eum nobis similique veniam? Nemo dolorem debitis impedit consequatur sint natus veritatis?
                        p Booking.com
                    .card-avt
                        .avt--img
                            img(src="../img/avt2.png" alt="")
                        .avt-info
                            .info--name John Doe 
                            .info-title CEO
                .card.actived
                    .card-msg
                        p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione fuga soluta sed doloribus facilis, laborum hic architecto illum repudiandae. Impedit distinctio aperiam sint debitis hic possimus deserunt neque exercitationem recusandae.
                        p Airnbnb
                    .card-avt
                        .avt--img
                            img(src="../img/avt1.png" alt="")
                        .avt-info
                            .info--name John Doe 
                            .info-title CEO
                .card 
                    .card-msg
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis enim quaerat doloribus, omnis inventore commodi expedita distinctio necessitatibus ab beatae esse eum quibusdam quos vel porro, consequuntur non aperiam eligendi.
                        p Symu.co
                    .card-avt
                        .avt--img
                            img(src="../img/avt2.png", alt="")
                        .avt-info
                            .info--name John Doe 
                            .info-title CEO