.section{
    h1{
        color: $secondary-color;

        &::after{
            content: '.';
            background: $primary-gradient;
            @include background-clip-text ;
            color: transparent;
        }
    }

    .section__content{
        @include flex(row , space-between , center) ;
        margin-bottom: 5rem;

        .text-content{
            max-width: 620px;

            h1{
                margin-bottom: 3rem;
            }
            p{
                line-height: 3rem;
            }
        }

        .image-content{
            position: relative ;

            .front-image{
                position: absolute;
                z-index: 1;

                &:nth-child(2){
                    top: 10rem ;
                    left: 15rem;
                }

                &:nth-child(1){
                    top: 5rem ;
                    right: 15rem ;
                }
            }
        }

        &:nth-child(3){
            margin-top: 10rem;
            @include flex(column , center , center) ;

            h1{
                margin-bottom: 10rem;
            }

            .card-content{
                @include flex(row , center , center) ;
                
                .card{
                    max-width: 35rem;
                    margin: 0 2rem;
                    line-height: 3rem;

                    .card-msg{
                        border : 2px solid #e0e0e0 ;
                        padding: 1rem ;
                        margin-bottom: 3rem;
                        position: relative;
                        p{
                            color: rgba(0 , 0 , 0 , .4) ;
                            &:nth-child(2){
                                font-weight: 700;
                                background: $primary-gradient;
                                color: transparent;
                                @include background-clip-text;
                                font-size: 1.8rem;
                            }
                        }

                        &::after{
                            content: '' ;
                            position: absolute ;
                            top :96% ;
                            left: 1.8rem ;
                            width: 2rem;
                            height: 2rem ;
                            background-color: white;
                            border-left: 2px solid #e0e0e0 ;
                            border-bottom: 2px solid #e0e0e0 ;
                            transform: rotate(-45deg);
                        }
                    }

                    .card-avt{
                        @include flex(row , flex-start , center) ;

                        .avt--img{
                            width: 6rem ;
                            height: 6rem;

                            img{
                                display: block ;
                                width: 100% ;
                                height: 100% ;
                            }
                        }

                        .avt-info{
                            margin-left: 1rem ;
                            line-height: 2rem;
                            .info--name{
                                color: rgba(0 , 0 , 0 , .7) ;
                            }
                            .info-title{
                                color: rgba(0 , 0 , 0 , .4) ;
                            }
                        }
                    }
                }
                .card.actived{
                    .card-msg{
                        transform: translateY(-5rem);
                        box-shadow: 0 7px 20px 5px rgba(0 , 0 , 0 , .1);
                    }
                }
            }
        }
    }
}

@media(max-width:1160px){
    .section__content{
        margin-bottom: 0 !important;
        &:nth-child(1) , &:nth-child(2){
            @include flex-im(column , center , center) ;
        }
        .text-content,.image-content{
            margin-bottom: 10rem;
            max-width: 80% !important;
        }
    }
}